/* #main{
    display: grid;
    
} */

* body{
    background-color: wheat;
    background-image: url("assets/orange-cloud.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    z-index: 10;
}

#header-image-menu{
    top: 10px;
    position: relative;
}

#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}

#image-text{
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-30%, -30%);
    text-align: center;
}

#content{
    display: grid;
    grid-template-areas:
    ". header header header ."
    ". current current previous ."
    ". forcast forcast . .";
    grid-gap: 5px;
    width: 75%;
    margin: 0 auto;
}  

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#weather-header{
    display: grid;
    text-align: center;
    grid-area: header;
    border: 2px solid black;
    border-radius: 30px;
    padding: 40px 0px 10px 0px;
    margin: 10px;
    background-color: rgba(138, 211, 212, 0.694);
}

#error-message{
    color: red;
    font-weight: 700;
    padding-top: 10px;
}

#currentLocation{
    border: 2px solid #f8a62ab6;
    border-radius: 30px;
    margin: 10px;
    padding:10px;
    grid-area: current;
    text-align: center;
    background-color: rgba(141, 200, 215, 0.365);
}
#previous-searches{
    margin: 10px;
    padding: 15px;
    grid-area: previous;
    text-align: center;
}
#no-search-yet{
    text-align: center;

}
#forecast{
    display:grid;
    grid-template-areas: 
    "today tomorrow dayafter";
    margin: 10px;
    padding: 0px;
    grid-area: forcast;
    text-align: center;
}
#forecast.display{
    width: 100%;
    margin: 5px;
    height: 100px;
}
#today{
    grid-area: today;     
}
#tomorrow{
    grid-area: tomorrow;
}
#day-after{
    grid-area: dayafter;
} 
